<div class="form-popup" id="optionsForm">
    <div class="form-popup-content">
        <span class="close" onclick="optionsDevicePopupClose()">&times;</span>
        <div class="form-popup-body">
            <center>
                <label class="little-title">Device options</label>
                <label id="odLabelError" class="text-danger"></label>
                <br />
                <button class="btn btn-primary" onclick="removeDeviceClick()">Remove device</button>
            </center>
        </div>
    </div>
</div>